[build]
  command = "node scripts/generate-env.js && npm run build"
  publish = "dist/WeatherApp/browser"
  
[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
